@largura_menu : 320px;
@cor_branco   : #ffffff;
@cor_preto    : #000000;

@keyframes deslizarMenuParaDireita {
    from { left: -@largura_menu; }
    to{ left: 0; }
}

@keyframes deslizarConteudoParaDireita {
    from { left: 0; }
    to{ left: @largura_menu; }
}

@keyframes deslizarMenuParaEsquerda {
    from { left: 0; }
    to{ left: -@largura_menu; }
}

@keyframes deslizarConteudoParaEsquerda {
    from { left: @largura_menu; }
    to{ left: 0; }
}

@keyframes ativarOpacidadeDoOverlayDoConteudo {
    from { opacity: 0; }
    to{ opacity: 0.6; }
}

@keyframes desativarOpacidadeDoOverlayDoConteudo {
    from { opacity: 0.6; z-index: 1; }
    to{ opacity: 0; z-index: 0; }
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: fixed;
    
    .rrs-page-container.rrs-menu-opened{
        .rrs-page-menu{
            animation-name: deslizarMenuParaDireita;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            -webkit-animation-name: deslizarMenuParaDireita;
            -webkit-animation-duration: 0.5s;
            -webkit-animation-fill-mode: forwards;
        }

        .rrs-page-content{
            animation-name: deslizarConteudoParaDireita;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            -webkit-animation-name: deslizarConteudoParaDireita;
            -webkit-animation-duration: 0.5s;
            -webkit-animation-fill-mode: forwards;

            .rrs-content-overlay{
                z-index: 1;
                animation-name: ativarOpacidadeDoOverlayDoConteudo;
                animation-duration: 0.3s;
                animation-fill-mode: forwards;
                -webkit-animation-name: ativarOpacidadeDoOverlayDoConteudo;
                -webkit-animation-duration: 0.3s;
                -webkit-animation-fill-mode: forwards;
            }

            .rrs-content{
                z-index: 0;
            }
        }
    }

    .rrs-page-container.rrs-menu-closed{
        .rrs-page-menu{
            animation-name: deslizarMenuParaEsquerda;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            -webkit-animation-name: deslizarMenuParaEsquerda;
            -webkit-animation-duration: 0.5s;
            -webkit-animation-fill-mode: forwards;
        }

        .rrs-page-content{
            animation-name: deslizarConteudoParaEsquerda;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            -webkit-animation-name: deslizarConteudoParaEsquerda;
            -webkit-animation-duration: 0.5s;
            -webkit-animation-fill-mode: forwards;
            .rrs-content-overlay{
                animation-name: desativarOpacidadeDoOverlayDoConteudo;
                animation-duration: 0.3s;
                animation-fill-mode: forwards;
                -webkit-animation-name: desativarOpacidadeDoOverlayDoConteudo;
                -webkit-animation-duration: 0.3s;
                -webkit-animation-fill-mode: forwards;
            }
        }
    }

    .rrs-page-container{
        width: 100%;
        height: 100%;
        position: relative;

        .rrs-toggle-menu{

        }

        .rrs-page-menu{
            position: absolute;
            top: 0;
            left: -@largura_menu;
            width: @largura_menu;
            height: 100%;
            display: inline-block;
            overflow-x: hidden;

            .rrs-menu-backdrop{
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0.2;
                background-color: @cor_preto;
            }

            .rrs-menu-content{
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }

        .rrs-page-content{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .rrs-content-overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                background-color: @cor_preto;
            }

            .rrs-content{
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }
}